%h1 Menu's Index

.row
  - @menus.each do |menu|
    .col-sm-3
      .panel.panel-primary
        .panel-heading
          %h3.panel-title
            = link_to menu.name, menu_path(menu)
        .panel-body
          %ul
            - for item in 0..2
              %li
                = menu.items[item].name
                = menu.items[item].price
            %li ...

      / = link_to restaurant.name, restaurant_path(restaurant)
      / |
      / = link_to "Edit", edit_restaurant_path(restaurant)
      / |
      / = link_to "Delete", restaurant_path(restaurant), method: :delete
  .col-sm-3
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          = link_to "Add Menu", new_menu_path
      .panel-body

