%h1 PROJECT 86: restaurant management app




%h2 Welcome to PROJECT 86. A new way to conveniently manage the FOH of your restaurant. This application will help you manage one or multiple locations, and multiple menus. A new way to communicate with your staff!!!!
<<<<<<< HEAD
%br
%br
%br
/ "Restaurants", restaurants_path
=link_to "Menus", menus_path
=======
%hr
%h3
  =link_to "Restaurants", restaurants_path
  =link_to "Menus", menus_path
>>>>>>> 3e5ef538dd9e1d3fe66aeabf8ee39209c53a86f1
