%h1 PROJECT 86: restaurant management app




%h2 Welcome to PROJECT 86. A new way to conveniently manage the FOH of your restaurant. This application will help you manage one or multiple locations, and multiple menus. A new way to communicate with your staff!!!!
%br
%br
%br
/ "Restaurants", restaurants_path
=link_to "Menus", menus_path