%h1.text-center
  =@restaurant.name

%div.row
  %div.col-lg-4
    - @restaurant.menus.each do|menu|
      %h3.text-center
        = menu.name
        %br
      %h4.text-center
        = menu.description
      %ul
      - menu.items.each do |item|
        %li
          = item.name
          = item.price


  %div.col-lg-8
    %h3.text-center
      Tables Go Here



  